<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me and My Friends</title>
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
	<img src="https://preview.ibb.co/dKpvLK/S_14540806.jpg">
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
	<p> Saya adalah mahasiswa semester 3 di Fakultas Universitas Indonesia Jurusan Sistem Informasi</p>
	<p> Hobi saya adalah menyanyi </p>
	<hr>
	<h1>Hello my first friend's name is {{ name1 }}</h1>
	<img src="https://image.ibb.co/k7BBSz/darell.jpg">
    <article>NPM : {{ npm1 }}</article>
    <article>I am {{ age1 }} years old</article>
	<p> Perkenalkan nama teman saya adalah Darell </p>
	<p> Teman saya juga mahasiswa semester 3 di Fakultas Universitas Indonesia Jurusan Sistem Informasi</p>
	<p> Hobinya adalah ngoding </p>
	<hr>
	<h1>Hello my second friend's name is {{ name2 }}</h1>
	<img src="https://image.ibb.co/iBfS0K/irfan_s.jpg">
    <article>NPM : {{ npm2 }}</article>
    <article>I am {{ age2 }} years old</article>
	<p> Perkenalkan nama teman saya adalah Irfan </p>
	<p> Teman saya juga mahasiswa semester 3 di Fakultas Universitas Indonesia Jurusan Ilmu Komputer</p>
	<p> Hobinya adalah fotografi </p>
</body>
</html>
